{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h2> Log in to your account.</h2>
{% endblock header %}

{% block content %}
{#我们从这个模板中删除了 {% if form.errors %} 代码块，因为 django-bootstrap3 会自动管理表单错误#}
  
  <form class="form" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}{#Django使用模板标签csrf_token来防止攻击者利用表单获得对服务器未经授权的访问（跨站请求伪造）#}
    {% bootstrap_form form %}
    
    {% buttons %}
      <button class="btn btn-primary" name="submit">log in </button>{#生成一个add topic按钮#}
    {% endbuttons %}
      <input type="hidden" name= "next" value="{% url 'learning_logs:index' %}"/>
  </form>
  
    
{% endblock content %}
